body {
  display: flex;
  flex-direction: column;
  background-color: #3B444B;
  color: white;
  align-items: center;
}

#body-container {
  display: flex;
  flex-flow: column nowrap;
  width: 1440px;
  height: 2000px;
  align-items: center;
  /* background: rgb(36, 30, 0);
  background: linear-gradient(90deg, rgba(74,99,150,1) 17%, rgba(0,5,36,1) 51%); */
  background: linear-gradient(236deg, #ae8f1b ,#117d94 , #6e42a6, #7c0f55);
  background-size: 240% 240%;
  animation: gradient-animation 36s ease infinite;
  box-shadow: 0 0 50px #a9cbb7;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1065px;
  height: 255px;
  margin-top: 87px;
  border: 3px solid #fff;
  background-color: #117d94;
}

#play-btn {
  width: 216px;
  height: 72px;
  font-family: "Lilita One", cursive;
  font-size: 40px;
  font-size: normal;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
  margin-top: 116px;
  outline: none;
}

#play-btn:hover {
  background-color: #9acd32;
  color: #c80815;
}

#instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 705px;
  height: 251px;
  border: 3px solid #e4d00a;
  margin-top: 24px;
}


#question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jacques Francois", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  width: 540px;
  height: 93px;
  margin-top: 38px;
  border: 3px solid white;
}

#timer-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 705px;
  height: 73px;
  /* border: 2px solid white; */
  margin-top: 38px;
}

#timer-score > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 72px;
  background-color: white;
  border-radius: 4px;
  color: black;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  font-family: "Jacques Francois", serif;
  line-height: 35px;
}

#options{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 540px;
  height: 73px;
  margin-top: 38px;
}

#options > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 72px;
  border: 2px solid white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  font-family: "Jacques Francois", serif;
  line-height: 35px;
  box-shadow: 10px 25px 20px rgba(190, 10, 181, 0.2);
  background-color: #117d94;
}

#options > *:hover {
  cursor: pointer;
  opacity: 0.7;
}


#submit-reset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 216px;
  height: 185px;
  margin-top: 38px;
}

#submit-reset > * {
  width: 216px;
  height: 72px;
  color: #3B444B;
  /* border: 2px solid white; */
}

#reset {
  font-family: "Lilita One", cursive;
  font-size: 40px;
  font-size: normal;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
}

#reset:hover{
  background-color: #f77f00;
  color: #77dd77;
}

#quit {
  font-family: "Lilita One", cursive;
  font-size: 40px;
  font-size: normal;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
}

#quit:hover{
  background-color: #c80815;
  color: #9acd32;
}

#imageContainer {
  width: 705px;
  height: 468px;
  margin-top: 38px;
  border: 3px solid #fff;
  background-size: 100% 100%;
}

#actualImage {
  width: 100%;
  height: 468px;
}

button {
  width: 216px;
  height: 72px;
}
