body {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: white;
  align-items: center;

}

#body-container {
  display: flex;
  flex-flow: column nowrap;
  width: 1440px;
  height: 2150px;
  align-items: center;
  border: 3px solid yellow;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1065px;
  height: 255px;
  margin-top: 87px;
  border: 2px solid white;
}

#instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 705px;
  height: 251px;
  border: 3px solid #e4d00a;
  margin-top: 24px;
}

#play-btn{
  width: 216px;
  height: 72px;
  font-family: "Lilita One", cursive;
  font-size: 40px;
  font-size: normal;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
  margin-top: 116px;
}

#question-container {
  width: 540px;
  height: 93px;
  margin-top: 38px;
  border: 3px solid white;
}

#timer-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 705px;
  height: 73px;
  /* border: 2px solid white; */
  margin-top: 38px;
}

#timer-score > * {
  width: 216px;
  height: 72px;
  border: 2px solid white;
  color: #fff;
}

#options{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 540px;
  height: 73px;
  margin-top: 38px;
}

#options > * {
  width: 216px;
  height: 72px;
  border: 2px solid white;
}


#submit-reset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 216px;
  height: 200px;
  margin-top: 38px;
  /* border: 3px solid white; */
}

#submit-reset > * {
  width: 216px;
  height: 72px;
  /* border: 2px solid white; */
}