body {
  display: flex;
  flex-direction: column;
  background-color: #ff9f1c;
  color: white;
  align-items: center;
}

#body-container {
  display: flex;
  flex-flow: column nowrap;
  width: 1440px;
  height: 2150px;
  align-items: center;
  /* background: rgb(36, 30, 0);
  background: linear-gradient(90deg, rgba(74,99,150,1) 17%, rgba(0,5,36,1) 51%); */
  background: linear-gradient(236deg, #ae8f1b ,#117d94 , #6e42a6, #7c0f55);
  background-size: 240% 240%;
  animation: gradient-animation 36s ease infinite;
  box-shadow: 0 0 50px #a9cbb7;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1065px;
  height: 255px;
  margin-top: 87px;
}

#logo{
  width: 195px;
  height: 184.167px;
  margin: 35px 10px 36px 175px;
  background: url(../assets/Asset\ 2@2x.png);
  background-size: cover;
}

h3{
  font-family: "Inknut Antiqua", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 195px;
  margin-left: 82px;
}

#instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 705px;
  height: 251px;
  border: 3px solid #e4d00a;
  margin-top: 24px;
}

h2{
  font-family: "Jacques Francois", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}

#play-btn{
  width: 216px;
  height: 72px;
  font-family: "Lilita One", cursive;
  font-size: 40px;
  font-size: normal;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
  margin-top: 116px;
}

#play-btn:hover{
  background-color: #9acd32;
  color: #c80815;
}

#labels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 710px;
  height: 38px;
  margin-top: 50px;
  font-family: "Lilita One", cursive;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
}

#counter-ratio-timer {
  display: flex;
  justify-content: space-between;
  width: 698px;
  height: 72px;
  margin-top: 10px;
}

#counter-ratio-timer > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  background-color: white;
  border-radius: 4px;
  color: black;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  font-family: "Jacques Francois", serif;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
}

#quotes-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e4d00a;
  width: 705px;
  height: 251px;
  margin-top: 28px;
  text-align: center;
  font-family: "Jacques Francois", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40 px;

}

#user-input {
  width: 705px;
  height: 109px;
  margin-top: 10px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  font-family: "Jacques Francois", serif;
}

#submit-reset {
  display: flex;
  justify-content: space-between;
  width: 705px;
  height: 72px; 
  margin-top: 45px;
}

#submit-btn {
  width: 216px;
  height: 100%;
  font-family: "Lilita One", cursive;
  font-size: 40px;
  font-size: normal;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
}

#submit-btn:hover{
  background-color: #f77f00;
  color: #77dd77;
}

#reset-btn {
  width: 216px;
  height: 100%;
  font-family: "Lilita One", cursive;
  font-size: 40px;
  font-size: normal;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
}

#reset-btn:hover{
  background-color: #c80815;
  color: #9acd32;
}

#img-placeholder {
  width: 705px;
  height: 468px;
  margin-top: 45px;
  background: 
    url(../assets/anime-cover\ \(3\).png),
    url(../assets/anime-cover\ \(3\).png);
    background-size: cover;
    border: none;
}

